
@font-face{
    font-family:'digital-dream-font';
    src: url('digital-dream.regular.ttf');
}
@font-face{
    font-family: 'space-age-font';
    src: url('space_age.ttf')
   }
body{
    background-color: #80e0f8; 
}
#heading{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'space-age-font', Arial;
    font-size: 85px;
    color: #441650; 
}
#calcBody {
    margin: auto;
    background-color: black;
    width: 260px;
    height: 425px;
    border: solid #9b0da0 5px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 5px darkslategrey;
}

#screen {
    background-color: #92f5b3;
    color: #070a06;   
    width: 190px;
    border: solid #c498ea 5px;
    border-radius: 10%;
    padding: 5px;
    text-align: right;
    font-size: 25px;  
    font-family: 'digital-dream-font', Arial;
}
.button_pad {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;    
}


.numberButton {
    background-color: dimgrey;
    height: 55px;
    width: 55px;
    padding: 10px;
    color: #3b102e;
    font-size: 20px;
    border: solid 5px #c498ea;
    border-radius: 10%;
}
.numberButton:hover{
    background-color:#ea82ee;
    cursor: pointer;
}

.operatorButton {
     background-color: rgb(212, 40, 140);
    height: 55px;
    width: 55px;
    padding: 10px;
    color: #92f5b3;
    font-size: 20px;
    border: solid 5px #c498ea;
    border-radius: 10%;
    
}
.operatorButton:hover{
    background-color: rgb(238, 89, 230);
    cursor: pointer;
}

.numberButton:active{
    transform: translateY(2px);
}
.operatorButton:active{
    transform: translateY(2px);
}

.numberButtonOverflow{
    background-color: dimgrey;
    height: 55px;
    width: 55px;
    padding: 10px;
    color: #3b102e;
    font-size: 20px;
    border: solid 5px #c498ea;
    border-radius: 10%;
}

.numberButtonOverflow:hover{
    background-color: grey;
}

#clearEntry {
    font-size: 13px;
}

#allEntries{
    font-size: 10px;
    overflow-wrap: break-word;
    text-overflow: clip;
    width: 80%;
    margin: 5px;
    text-align: left;
}


